<p id="notice"><%= notice %></p>

<h1>Universes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @universes.each do |universe| %>
      <tr>
        <td><%= universe.name %></td>
        <td><%= universe.color %></td>
        <td><%= universe.owner_id %></td>
        <td><%= link_to 'Show', universe %></td>
        <td><%= link_to 'Edit', edit_universe_path(universe) %></td>
        <td><%= link_to 'Destroy', universe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Universe', new_universe_path %>
