<h1><%= @universe.name %></h1>

<div class="row align-items-center">
  <div class="col-12 col-lg-3">
    <h2>Your Organizations</h2>
    <% current_person.organizations.each do |org| %>
      <%= render partial: 'heliosystem/organizations/card', locals: {model: org} %>
    <% end %>
  </div>
  <div class="col-12 col-lg-6">
    Calendar goes here
  </div>
  <div class="col-12 col-lg-3">
    Linked universe & org resources go here
  </div>
</div>
