<h1><%= current_universe.name %> Custom Relationships</h1>

<div class="row">
  <div class="col-md-6 col-lg-8">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Label</th>
      <th>Format</th>
      <th>Parent</th>
      <th>Child</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @subrelations.each do |subrelation| %>
      <tr>
        <td><%= subrelation.label %></td>
        <td><%= subrelation.format %></td>
        <td><%= subrelation.parent %></td>
        <td><%= subrelation.child %></td>
        <td><%= link_to 'Edit', edit_universe_subrelation_path(subrelation, universe_id: subrelation.universe.slug), class: 'btn btn-small btn-warning' %></td>
        <td><%= link_to 'Destroy', [subrelation.universe, subrelation], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
  <div class="col-md-6 col-lg-4">
    <h2>Add a New Custom Relationship</h2>
    <%= render partial: 'form', locals: {subrelation: current_universe.subrelations.build} %>
  </div>
</div>
