<% if model %>
<div class="card card-default mb-2">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col text-center">
        <%= link_to [model.universe, model], style: "font-size: 3rem; color: #{model.color}" do %>
          <span style=><%= model.name.split(' ').map{|w| w[0]}.join('') %></span>
        <% end %>
      </div>
      <div class="col">
        <p><%= link_to model.name, [model.universe, model] %></p>
        <p><%= model.description %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
