<h1><%= @organization.name %></h1>

<div class="row align-items-center">
  <div class="col-12 col-lg-8">
    <p>Calendar goes here<p>
    <br>
    <br>
    <p>Announcements down here</p>
  </div>
  <div class="col-12 col-lg-4">
    Linked org resources go here
  </div>
</div>
