<%= simple_form_for([current_universe, current_organization, setting].filter(&:present?), local: true, wrapper: 'inline_form') do |f| %>
  <div class="form-row align-items-center">
    <div class="col text-right">
      <%= setting_icon(setting) %>
    </div>
    <%= f.input :key, placeholder: 'Key', wrapper_html: {class: 'col-md-4 col-5'} %>
    <%= f.input :value, placeholder: 'Value', wrapper_html: {class: 'col-md-4 col-5'} %>

    <div class="col col-md-3 text-center text-md-left mt-1 mt-md-0">
      <%= f.button :submit, class: 'btn-primary btn-sm' %>

    <% if setting.id %>
      <%= link_to 'Unset', [current_universe, current_organization, setting].filter(&:present?), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
    <% end %>
    </div>
  </div>
<% end %>
