<h1><%= (current_organization || current_universe).name %> Settings</h1>

<% @settings.each do |setting| %>
  <%= render partial: 'form', locals: {setting: setting } %>
<% end %>

<br>

<%= render partial: 'form', locals: {setting: @blank_setting } %>

<% if current_organization %>
<h2>Universe Settings</h2>
  <% current_universe.settings.each do |setting| %>
    <%= render partial: 'disabled_form', locals: {setting: setting } %>
  <% end %>
<% else %>
  <h2>Organization Settings<h2>
  <% current_universe.organizations.each do |org| %>
    <h3><%= org.name %></h3>
    <% org.settings.each do |setting| %>
      <%= render partial: 'form', locals: {setting: setting } %>
    <% end %>
  <% end %>
<% end %>
