<%= simple_form_for([subfield.universe, subfield]) do |f| %>
  <% if subfield.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subfield.errors.count, "error") %> prohibited this subfield from being saved:</h2>

      <ul>
        <% subfield.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= f.input :app, as: :select, collection: Heliosystem::Subfield::APPS %>
<%= f.input :label %>
<%= f.input :format, as: :select, collection: Heliosystem::Subfield::FORMATS %>

<%= f.button :submit, 'Save Custom Field', class: 'btn-primary' %>

<% end %>
