<% if model %>
<div class="card card-default mb-2">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col text-center">
        <%= link_to [model.universe, model], style: "font-size: 3rem; color: #{model.universe.color}" do %>
          <span style=><%= model.user.first_name[0] %><%= model.user.last_name[0] %></span>
        <% end %>
      </div>
      <div class="col">
        <%= link_to model.name, [model.universe, current_organization, model].filter(&:present?) %>
      </div>
    </div>
  </div>
</div>
<% end %>
