<h1><%= (current_organization || current_universe).name %> People</h1>

<div class="row">
  <div class="col col-md-4 col-lg-3">
    <%= link_to 'Add a New Person', current_organization ? new_universe_organization_person_path(current_organization, universe_id: current_universe.slug) : new_universe_person_path(current_universe), class: 'btn btn-primary btn-block mb-3' %>
    <h2>Search and Filter</h2>
  </div>
  <div class="col col-md-8 col-lg-9">
    <div class="row">
      <% @people.each do |person| %>
        <div class="col col-md-4 col-lg-3">
          <%= render partial: 'card', locals: {model: person} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
