<h1>New Person</h1>

<%= render 'form', person: @person %>

<%=
if current_organization
  link_to 'Back', universe_organization_people_path(current_universe, organization_id: current_organization.slug)
else
  link_to 'Back', universe_people_path(current_universe)
end
%>
