<p>
  <strong>Universe:</strong>
  <%= @person.universe_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @person.user_id %>
</p>

<%=
if current_organization
  link_to 'Edit', edit_universe_organization_person_path(@person, universe_id: @person.universe.slug, organization_id: current_organization.slug)
else
  link_to 'Edit', edit_universe_person_path(@person, universe_id: @person.universe.slug)
end
%> |
<%= link_to 'Destroy', [@person.universe, current_organization, @person].filter(&:present?), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%=
if current_organization
  link_to 'Back', universe_organization_people_path(@person.universe)
else
  link_to 'Back', universe_people_path(@person.universe)
end
%>
