<%= simple_form_for user do |f| %>
  <%= f.input :first_name, required: true %>
  <%= f.input :last_name, required: true %>
  <%= f.input :email %>
  <%= f.input :password, required: true %>
  <%= f.input :password_confirmation, required: true %>

  <%= f.button :submit, "Create Account", class: 'btn-primary' %>
<% end %>
