<% if current_user %>
  <section class="actionbar">
    <% if current_universe %>
      <%= action_link current_universe, icon('home'), "#{current_universe.name} Home", current_universe.color %>
      <% if current_organization %>
        <%= render(partial: 'heliosystem/partials/orgAppsNavActions') %>
      <% else %>
        <%= action_link universe_people_path(current_universe), icon('users'), "People", current_universe.color %>
        <%= action_link universe_tags_path(current_universe), icon('tags'), "Tags", current_universe.color %>
        <%= render(partial: 'heliosystem/partials/universeAdminNavActions') if current_universe.owner == current_user %>
      <% end %>
    <% else %>
      <%= action_link new_universe_path, '<i class="fas fa-plus-circle"></i>', 'Create a New Universe', '#f06' %>
    <% end %>
    <%= render(partial: 'heliosystem/partials/sysopNavActions') if current_user.sysop %>
  </section>
<% end %>
