<%= modal_action_button 'debuggerModal', icon('bug'), 'Debug Info', '#666' %>
<% content_for :modals do %>
  <div class="modal fade" id="debuggerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Debugging Info</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>params</h3>
          <table class="table table-striped">
            <% params.each do |k,v| %>
              <tr>
              <td><%= k %></td>
              <td><%= v.to_json %></td>
              </tr>
            <% end %>
          </table>
          <h3>breadcrumbs</h3>
          <table class="table table-striped">
            <% breadcrumbs.each do |k| %>
              <tr>
              <td><%= k[0] %></td>
              <td><%= k[1] %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
