<%= modal_action_button 'universeAdminModal', icon('tools'), 'Universe Administration', current_universe.color %>
<% content_for :modals do %>
  <div class="modal fade" id="universeAdminModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Universe Administration</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <p><%= link_to "Universe Setup", edit_universe_path(current_universe) %></p>
              <p><%= link_to "Universe Settings", universe_settings_path(current_universe) %></p>
              <p><%= link_to "Organizations Manager", universe_organizations_path(current_universe) %></p>
            </div>
            <div class="col">
              <p><%= link_to "Custom Field Setup", universe_subfields_path(current_universe) %></p>
              <p><%= link_to "Custom Relationship Setup", universe_subrelations_path(current_universe) %></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
