<h1>Editing Tag</h1>

<%= render 'form', tag: @tag %>

<%= link_to 'Show', [current_universe, current_organization, @tag].filter(&:present?)%> |
<%=
if current_organization
  link_to 'Back', universe_organization_tags_path(@tag.universe)
else
  link_to 'Back', universe_tags_path(@tag.universe)
end
%>
