<h1>New Tag</h1>

<%= render 'form', tag: @tag %>

<%=
if current_organization
  link_to 'Back', universe_organization_tags_path(current_universe, organization_id: current_organization.slug)
else
  link_to 'Back', universe_tags_path(current_universe)
end
%>
