<h1><%= render partial: 'tag', locals: {tag: @tag} %></h1>

<p><%= @tag.description %></p>

<div class="row">
<% @tag.taggables.each do |e| %>
  <div class="col-md-3">
    <% begin %>
      <%= render partial: "heliosystem/#{e.class.to_s.split('::').last.pluralize.downcase}/card", locals: {model: e} %>
    <% rescue ActionView::MissingTemplate %>
      <%= link_to "heliosystem/#{e.class.to_s.pluralize}/card/#{e.name}", [current_universe, current_organization, e].filter(&:present?) %>
    <% end %>
  </div>
<% end %>
</div>

<br>

<%=
if current_organization
  link_to 'Edit', edit_universe_organization_tag_path(@tag, universe_id: @tag.universe.slug, organization_id: current_organization.slug)
else
  link_to 'Edit', edit_universe_tag_path(@tag, universe_id: @tag.universe.slug)
end
%> |
<%= link_to 'Destroy', [@tag.universe, current_organization, @tag].filter(&:present?), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%=
if current_organization
  link_to 'Back', universe_organization_tags_path(@tag.universe)
else
  link_to 'Back', universe_tags_path(@tag.universe)
end
%>
