<div class="row">
  <div class="col">
    <%= image_tag "heliosystem/heliosystem.png" %>

    <h1>Welcome to HelioSystem</h1>

    <p><%= @message %></p>

    <% %w(default primary secondary success warning danger info).each do |w| %>
      <a class="btn btn-<%= w %>"><%= w %></a>
    <% end %>
  </div>

  <div class="col">
    <% if current_user %>
      <h2>Your Universes</h2>
      <div class="row">
        <% current_user.universes.each do |universe| %>
          <div class="col-md-6">
            <%= render partial: 'heliosystem/universes/card', locals: {universe: universe} %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-6">
          <h1>Sign Up</h1>
          <%= render partial: 'heliosystem/users/form', locals: {user: Heliosystem::User.new} %>
        </div>

        <div class="col-md-6">
          <h1>Sign In</h1>
          <%= simple_form_for :session, url: create_session_path do |f| %>
            <%= f.input :email %>
            <%= f.input :password %>

            <%= f.button :submit, "Sign In", class: 'btn-primary' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
