<%= simple_form_for([current_universe, current_organization, account], local: true) do |f| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <div class="row">
    <div class="col-12 col-md-6">
      <%= f.association :parent, collection: current_organization.accounts, include_blank: true %>
    </div>
    <div class="col-12 col-md-6">
      <%= f.input :code, hint: "Don't include the parent account codes - they will be automatically prepended.", input_html: {value: account.subcode} %>
    </div>
  </div>

  <%= f.input :balance %>

  <%= render partial: 'heliosystem/partials/customFormFields', locals: {form: f, app: 'account', model: account} %>
  <hr>
  <%= render partial: 'heliosystem/partials/taggableFormFields', locals: {form: f, model: account} %>

  <%= f.button :submit, 'Save Account', class: 'btn-primary' %>
<% end %>
