<% if model %>
<div class="card card-default mb-2">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col text-center">
        <%= link_to [model.universe, model.organization, model], style: "font-size: 3rem; color: #{model.universe.color}" do %>
          <span><%= icon('file') %></span>
        <% end %>
      </div>
      <div class="col">
        <%= link_to model.name, [model.universe, model.organization, model] %>
      </div>
    </div>
  </div>
</div>
<% end %>