<h1><%= current_organization.name %> Timeclocks</h1>

<div class="row">
  <div class="col col-md-4 col-lg-3">
    <%= link_to 'Add a New Timeclock', new_universe_organization_timeclock_path(universe_id: current_universe.slug, organization_id: current_organization.slug), class: 'btn btn-primary btn-block mb-3' %>
    <h2>Search and Filter</h2>
  </div>
  <div class="col col-md-8 col-lg-9">
    <div class="row">
      <% @timeclocks.each do |t| %>
        <div class="col col-md-4 col-lg-3">
          <%= render partial: 'card', locals: {model: t} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
