<h1><%= @timeclock.name %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Person</th>
      <th>Start</th>
      <th>End</th>
      <th>Hours</th>
    </tr>
  </thead>
  <tbody>
    <% @timeclock.timepunches.each do |p| %>
      <tr>
        <td><%= link_to p.person.name, [current_universe, current_organization, p.person] %></td>
        <td><%= p.start_at %></td>
        <td><%= p.end_at || '-' %></td>
        <td><%= p.hours || '-' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with url: punch_universe_organization_timeclock_path(@timeclock, universe_id: current_universe.slug, organization_id: current_organization.slug), local: true do |fo| %>
  <div class="form-row align-items-center">
    <div class="col-9">
      <%= simple_fields_for @timeclock.timepunches.build do |f| %>
        <%= f.association :person, collection: current_organization.people %>
      <% end %>
    </div>
    <div class="col-3">
      <%= fo.submit "Punch Now", class: 'btn btn-success' %>
    </div>
  </div>
<% end %>

<%= form_with url: punch_universe_organization_timeclock_path(@timeclock, universe_id: current_universe.slug, organization_id: current_organization.slug), local: true do |fo| %>
  <%= simple_fields_for @timeclock.timepunches.build do |f| %>
    <%= simple_fields_for @timeclock.timepunches.build do |f| %>
      <div class="form-row align-items-center">
        <div class="col-3">
          <%= f.association :person, collection: current_organization.people %>
        </div>
        <div class="col-6">
          <%= f.input :start_at %>
          <%= f.input :end_at %>
        </div>
        <div class="col-3">
          <%= fo.submit "Create Punch", class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= fo.submit "Create Punch", class: 'btn btn-success' %>
<% end %>

<br>

<%= link_to 'Edit', edit_universe_organization_timeclock_path(@timeclock, universe_id: current_universe.slug, organization_id: current_organization.slug ) %> |
<%= link_to 'Back', universe_organization_timeclocks_path(universe_id: current_universe.slug, organization_id: current_organization.slug) %>
